@import 'variables';
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";

$theme: $main_theme;

%primary_button_colors {
  background-color: map_get($theme, 'primary');
  color: #fff;
  border-color: map_get($theme, 'primary');

  &:visited {
    background-color: map_get($theme, 'primary');
    color: #fff;
    border-color: map_get($theme, 'primary');
  }

  &:hover {
    background-color: map_get($theme, 'primary-hover');
    color: #fff;
    border-color:map_get($theme, 'primary-hover');
  }

  &:active {
    background-color: map_get($theme, 'primary-active');
    color: #fff;
    border-color:map_get($theme, 'primary-active');
  }
}

.button {
  @extend .btn;
  border-radius: 10px;
  font-size: 18px;
  line-height: 38px;
  font-weight: 500;
  height: 50px;
  padding-left: 18px;
  padding-right: 18px;
  white-space: nowrap;

  &:focus,
  &.focus {
    box-shadow: none;
  }

  & > svg {
    width: 18px;
    height: 18px;
    position: relative;
    fill: #fff;
    margin-bottom: 2px;

    & + span {
      margin-left: 11px;
    }

    span {
      & + svg {
        margin-left: 11px;
      }
    }
    
    & * {
      fill: inherit;
      stroke: inherit;
    }
  }

  &_small {
    @extend .button;
    height: 40px;
    font-size: 16px;
    line-height: 28px;
    padding-left: 14px;
    padding-right: 14px;

    svg {
      width: 16px;
      height: 16px;
      margin-bottom: 2px;

      & + span {
        margin-left: 9px;
      }
    }

    span {
      & + svg {
        margin-left: 9px;
      }
    }
  }

  &_large {
    @extend .button;
    height: 60px;
    line-height: 48px;
    font-size: 20px;
    padding-left: 22px;
    padding-right: 22px;

    svg {
      width: 22px;
      height: 22px;
      margin-bottom: 2px;

      & + span {
        margin-left: 14px;
      }
    }

    span {
      & + svg {
        margin-left: 14px;
      }
    }
  }

  &_primary {
    @extend .button;
    @extend %primary_button_colors;
  }

  &_outline {
    @extend .button;
    background-color: #fff;
    color: rgba($color: #000000, $alpha: 1.0);
    border-color: rgba($color: #000000, $alpha: 0.1);

    & > svg {
      fill: rgba($color: #000000, $alpha: 1.0);
    }

    &:hover {
      color: rgba($color: #000000, $alpha: 0.6);
      border-color: rgba($color: #000000, $alpha: 0.35);

      & > svg {
        fill: rgba($color: #000000, $alpha: 0.6);
      }
    }
  }

  &_disabled {
    @extend .button;
    background-color: rgba($color: (#000000), $alpha: 0.05);
    color: rgba($color: #000000, $alpha: 0.3);
    border-color: rgba($color: #000000, $alpha: 0.1);

    & > svg {
      fill: rgba($color: #000000, $alpha: 0.3);
    }

    &:hover {
      color: rgba($color: #000000, $alpha: 0.3);
      cursor: default !important;
    }
  }

  &_danger {
    @extend .button;
    color: #fff;
    background-color: map_get($theme, 'danger');

    &:hover {
      background-color: map_get($theme, 'danger-hover');
      color: #fff;
    }
  }

  &_succes {
    @extend .button;
    color: #fff;
    background-color: map_get($theme, 'succes');

    &:hover {
      background-color: map_get($theme, 'succes-hover');
      color: #fff;
    }
  }

  &_warning {
    @extend .button;
    color: #fff;
    background-color: map_get($theme, 'warning');

    &:hover {
      background-color: map_get($theme, 'warning-hover');
      color: #fff;
    }
  }

  &_for-input {
    @extend .button;
    color: map_get($theme, 'grey-dark_3');
  }
}

.btn-group {
  &_small {
    .button {
      @extend .button_outline;
      height: 40px;
      font-size: 16px;
      line-height: 28px;
      padding-left: 14px;
      padding-right: 14px;

      svg {
        width: 16px;
        height: 16px;
        margin-bottom: 2px;

        & + span {
          margin-left: 9px;
        }
      }

      span {
        & + svg {
          margin-left: 9px;
        }
      }
    }
  }

  &_large {
    @extend .btn-group;
     
    .button {
      @extend .button_outline;
      height: 60px;
      line-height: 48px;
      font-size: 20px;
      padding-left: 22px;
      padding-right: 22px;

      svg {
        width: 22px;
        height: 22px;
        margin-bottom: 2px;

        & + span {
          margin-left: 14px;
        }
      }

      span {
        & + svg {
          margin-left: 14px;
        }
      }
    }
  }

  &_primary {
    @extend .btn-group;

    .button {
      @extend .button_outline;

      &.selected {
        @extend %primary_button_colors;

        & > svg {
          fill: #fff;
        }
      }
    }
  }

  &_danger {
    @extend .btn-group;

    .button {
      @extend .button_outline;

      &.selected {
        color: #fff;
        background-color: map_get($theme, 'danger');
  
        &:hover {
          background-color: map_get($theme, 'danger-hover');
          color: #fff;
        }
      }
    }
  }

  &_warning {
    @extend .btn-group;

    .button {
      @extend .button_outline;

      &.selected {
        color: #fff;
        background-color: map_get($theme, 'warning');
            
        &:hover {
          background-color: map_get($theme, 'warning-hover');
          color: #fff;
        }
      }
    }
  }

  &_succes {
    @extend .btn-group;

    .button {
      @extend .button_outline;

      &.selected {
        color: #fff;
        background-color: map_get($theme, 'succes');

        &:hover {
          background-color: map_get($theme, 'succes-hover');
          color: #fff;
        }
      }
    }
  }

  &_colorfull {
    @extend .btn-group;

    .button {
      @extend .button_outline;

      &.selected {
        &:nth-child(4n+1) {
          color: #fff;
          background-color: map_get($theme, 'primary');

          & > svg {
            fill: #fff;
  
            & * {
              fill: inherit;
              stroke: inherit;
            }
          }
  
          &:hover {
            background-color: map_get($theme, 'primary-hover');
            color: #fff;
          }
        }
  
        &:nth-child(4n+2) {
          
            color: #fff;
            background-color: map_get($theme, 'succes');
    
            &:hover {
              background-color: map_get($theme, 'succes-hover');
              color: #fff;
            }
          
        }
  
        &:nth-child(4n+3) {
          
            color: #fff;
            background-color: map_get($theme, 'warning');
    
            &:hover {
              background-color: map_get($theme, 'warning-hover');
              color: #fff;
            }
          
        }
  
        &:nth-child(4n+4) {
          
            color: #fff;
            background-color: map_get($theme, 'danger');
    
            &:hover {
              background-color: map_get($theme, 'danger-hover');
              color: #fff;
            }
          
        }
      }
    }
  }
}
