@import "variables";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";

$theme: $main_theme;

.button {
  @extend .btn;
  border-radius: map_get($theme, 'main-border-radius');
  font-size: 18px;
  line-height: 38px;
  font-weight: 500;
  height: 50px;
  padding-left: 18px;
  padding-right: 18px;
  white-space: nowrap;

  &:focus,
  &.focus {
    box-shadow: none;
  }

  svg {
    width: 18px;
    height: 18px;
    position: relative;
    fill: #fff;
    margin-bottom: 2px;

    & + span {
      margin-left: 11px;
    }
    
    & * {
      fill: inherit;
      stroke: inherit;
    }
  }

  span {
    & + svg {
      margin-left: 11px;
    }
  }
  
  &_small {
    @extend .button;
    height: 40px;
    font-size: 16px;
    line-height: 28px;
    padding-left: 14px;
    padding-right: 14px;

    svg {
      width: 16px;
      height: 16px;
      margin-bottom: 2px;

      & + span {
        margin-left: 9px;
      }
    }

    span {
      & + svg {
        margin-left: 9px;
      }
    }
  }

  &_large {
    @extend .button;
    height: 60px;
    line-height: 48px;
    font-size: 20px;
    padding-left: 22px;
    padding-right: 22px;

    svg {
      width: 20px;
      height: 20px;
      margin-bottom: 2px;

      & + span {
        margin-left: 14px;
      }
    }

    span {
      & + svg {
        margin-left: 14px;
      }
    }
  }

  &_primary {
    @extend .button;
    @include button_colors_new($primary_button_colorset);
  }

  &_outline {
    @extend .button;
    @include button_colors_new($outline_button_colorset);
  }

  &_disabled {
    @extend .button;
    background-color: rgba($color: (#000000), $alpha: 0.05);
    color: rgba($color: #000000, $alpha: 0.3);
    border-color: rgba($color: #000000, $alpha: 0.1);

    svg {
      fill: rgba($color: #000000, $alpha: 0.3);
    }

    &:hover {
      color: rgba($color: #000000, $alpha: 0.3);
      cursor: default !important;
    }
  }

  &_danger {
    @extend .button;
    @include button_colors_new($danger_button_colorset);
  }

  &_succes {
    @extend .button;
    @include button_colors_new($success_button_colorset);
  }

  &_warning {
    @extend .button;
    @include button_colors_new($warning_button_colorset);
  }

  &_for-input {
    @extend .button;
    color: map_get($theme, 'grey-dark_3');
  }
}

.btn-group {
  .button {
    border-width: 1px;

    svg {
      width: 18px;
      height: 18px;
      margin-bottom: 2px;

      & + span {
        margin-left: 11px;
      }
    }

    span {
      & + svg {
        margin-left: 11px;
      }
    }
  }

  .dropdown_small,
  &_small {
    .button {
      @extend .button_outline;
      border-width: 1px;
      height: 40px;
      font-size: 16px;
      line-height: 28px;
      padding-left: 14px;
      padding-right: 14px;

      svg {
        width: 16px;
        height: 16px;
        margin-bottom: 2px;

        & + span {
          margin-left: 9px;
        }
      }

      span {
        & + svg {
          margin-left: 9px;
        }
      }
    }
  }

  .dropdown_large,
  &_large {
    @extend .btn-group;
     
    .button {
      @extend .button_outline;
      border-width: 1px;
      height: 60px;
      line-height: 48px;
      font-size: 20px;
      padding-left: 22px;
      padding-right: 22px;

      svg {
        width: 22px;
        height: 22px;
        margin-bottom: 2px;

        & + span {
          margin-left: 14px;
        }
      }

      span {
        & + svg {
          margin-left: 14px;
        }
      }
    }
  }

  &_primary {
    @extend .btn-group;

    .button {
      @extend .button_outline;
      border-width: 1px;

      &.selected {
        @include button_colors_new($primary_button_colorset);
      }
    }
  }

  &_danger {
    @extend .btn-group;

    .button {
      @extend .button_outline;
      border-width: 1px;

      &.selected {
        @include button_colors_new($danger_button_colorset);
      }
    }
  }

  &_warning {
    @extend .btn-group;

    .button {
      @extend .button_outline;
      border-width: 1px;

      &.selected {
        @include button_colors_new($warning_button_colorset);
      }
    }
  }

  &_succes {
    @extend .btn-group;

    .button {
      @extend .button_outline;

      &.selected {
        @include button_colors_new($success_button_colorset);
      }
    }
  }

  &_colorfull {
    @extend .btn-group;

    .button {
      @extend .button_outline;
      border-width: 1px;

      &.selected {
        svg {
          fill: #fff !important; 
        }

        &:nth-child(4n+1) {
          @include button_colors_new($primary_button_colorset);
        }
  
        &:nth-child(4n+2) {      
          @include button_colors_new($success_button_colorset);
        }
  
        &:nth-child(4n+3) {
          @include button_colors_new($warning_button_colorset);
        }
  
        &:nth-child(4n+4) {
          @include button_colors_new($danger_button_colorset);
        }
      }
    }
  }
}
