@import "variables";
@import "mixins";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";

$theme: $main_theme;

// For set button state colors

// $<colorset_name>: <color>, <background-color>, [<border-color>], [<svg fill color>]

// Examlpe

// $button_normal_colorset : #fff, map_get($theme, 'grey-dark_4'), map_get($theme, 'grey-dark_4');
// $button_hover_colorset : #fff, map_get($theme, 'grey-dark_3'), rgba(0, 0, 0, 0);
// $button_active_colorset : #fff, map_get($theme, 'grey-dark_5'), rgba(0, 0, 0, 0);

// and include mixin

// @include button_colors(<normal_colorset>, <hover_colorset, [<active_colorset>], [<visited_colorset>]);

// Examlpe

// @include button_colors($button_normal_colorset, $button_hover_colorset, $button_active_colorset);

$primary_button_normal_colorset : #fff, map_get($theme, 'primary'), map_get($theme, 'primary');
$primary_button_hover_colorset : #fff, map_get($theme, 'primary-hover'), rgba(0, 0, 0, 0);
$primary_button_active_colorset : #fff, map_get($theme, 'primary-active'), map_get($theme, 'primary-active');
// ---
$danger_button_normal_colorset : #fff, map_get($theme, 'danger'), map_get($theme, 'danger');
$danger_button_hover_colorset : #fff, map_get($theme, 'danger-hover'), rgba(0, 0, 0, 0);
// ---
$warning_button_normal_colorset : #fff, map_get($theme, 'warning'), map_get($theme, 'warning');
$warning_button_hover_colorset : #fff, map_get($theme, 'warning-hover'), rgba(0, 0, 0, 0);
// ---
$succes_button_normal_colorset : #fff, map_get($theme, 'succes'), map_get($theme, 'succes');
$succes_button_hover_colorset : #fff, map_get($theme, 'succes-hover'), rgba(0, 0, 0, 0);

%primary_button_colors {
  @include button_colors($primary_button_normal_colorset, $primary_button_hover_colorset, $primary_button_active_colorset);
}

%danger_button_colors {
  @include button_colors($danger_button_normal_colorset, $danger_button_hover_colorset);
}

%warning_button_colors {
  @include button_colors($warning_button_normal_colorset, $warning_button_hover_colorset);
}

%succes_button_colors {
  @include button_colors($succes_button_normal_colorset, $succes_button_hover_colorset);
}

.button {
  @extend .btn;
  border-radius: map_get($theme, 'main-border-radius');
  font-size: 18px;
  line-height: 38px;
  font-weight: 500;
  height: 50px;
  padding-left: 18px;
  padding-right: 18px;
  white-space: nowrap;

  &:focus,
  &.focus {
    box-shadow: none;
  }

  svg {
    width: 18px;
    height: 18px;
    position: relative;
    fill: #fff;
    margin-bottom: 2px;

    & + span {
      margin-left: 11px;
    }
    
    & * {
      fill: inherit;
      stroke: inherit;
    }
  }

  span {
    & + svg {
      margin-left: 11px;
    }
  }
  
  &_small {
    @extend .button;
    height: 40px;
    font-size: 16px;
    line-height: 28px;
    padding-left: 14px;
    padding-right: 14px;

    svg {
      width: 16px;
      height: 16px;
      margin-bottom: 2px;

      & + span {
        margin-left: 9px;
      }
    }

    span {
      & + svg {
        margin-left: 9px;
      }
    }
  }

  &_large {
    @extend .button;
    height: 60px;
    line-height: 48px;
    font-size: 20px;
    padding-left: 22px;
    padding-right: 22px;

    svg {
      width: 22px;
      height: 22px;
      margin-bottom: 2px;

      & + span {
        margin-left: 14px;
      }
    }

    span {
      & + svg {
        margin-left: 14px;
      }
    }
  }

  &_primary {
    @extend .button;
    @extend %primary_button_colors;
  }

  &_outline {
    @extend .button;
    background-color: #fff;
    color: rgba($color: #000000, $alpha: 1.0);
    border-color: rgba($color: #000000, $alpha: 0.1);

    svg {
      fill: rgba($color: #000000, $alpha: 1.0);
    }

    &:hover {
      color: rgba($color: #000000, $alpha: 0.6);
      border-color: rgba($color: #000000, $alpha: 0.35);

      svg {
        fill: rgba($color: #000000, $alpha: 0.6);
      }
    }
  }

  &_disabled {
    @extend .button;
    background-color: rgba($color: (#000000), $alpha: 0.05);
    color: rgba($color: #000000, $alpha: 0.3);
    border-color: rgba($color: #000000, $alpha: 0.1);

    svg {
      fill: rgba($color: #000000, $alpha: 0.3);
    }

    &:hover {
      color: rgba($color: #000000, $alpha: 0.3);
      cursor: default !important;
    }
  }

  &_danger {
    @extend .button;
    @extend %danger_button_colors;
  }

  &_succes {
    @extend .button;
    @extend %succes_button_colors;
  }

  &_warning {
    @extend .button;
    @extend %warning_button_colors;
  }

  &_for-input {
    @extend .button;
    color: map_get($theme, 'grey-dark_3');
  }
}

.btn-group {
  .button {
    border-width: 1px;

    svg {
      width: 18px;
      height: 18px;
      margin-bottom: 2px;

      & + span {
        margin-left: 11px;
      }
    }

    span {
      & + svg {
        margin-left: 11px;
      }
    }
  }

  .dropdown_small,
  &_small {
    .button {
      @extend .button_outline;
      border-width: 1px;
      height: 40px;
      font-size: 16px;
      line-height: 28px;
      padding-left: 14px;
      padding-right: 14px;

      svg {
        width: 16px;
        height: 16px;
        margin-bottom: 2px;

        & + span {
          margin-left: 9px;
        }
      }

      span {
        & + svg {
          margin-left: 9px;
        }
      }
    }
  }

  .dropdown_large,
  &_large {
    @extend .btn-group;
     
    .button {
      @extend .button_outline;
      border-width: 1px;
      height: 60px;
      line-height: 48px;
      font-size: 20px;
      padding-left: 22px;
      padding-right: 22px;

      svg {
        width: 22px;
        height: 22px;
        margin-bottom: 2px;

        & + span {
          margin-left: 14px;
        }
      }

      span {
        & + svg {
          margin-left: 14px;
        }
      }
    }
  }

  &_primary {
    @extend .btn-group;

    .button {
      @extend .button_outline;
      border-width: 1px;

      &.selected {
        @extend %primary_button_colors;
      }
    }
  }

  &_danger {
    @extend .btn-group;

    .button {
      @extend .button_outline;
      border-width: 1px;

      &.selected {
        @extend %danger_button_colors;
      }
    }
  }

  &_warning {
    @extend .btn-group;

    .button {
      @extend .button_outline;
      border-width: 1px;

      &.selected {
        @extend %warning_button_colors;
      }
    }
  }

  &_succes {
    @extend .btn-group;

    .button {
      @extend .button_outline;

      &.selected {
        @extend %succes_button_colors;
      }
    }
  }

  &_colorfull {
    @extend .btn-group;

    .button {
      @extend .button_outline;
      border-width: 1px;

      &.selected {
        svg {
          fill: #fff !important; 
        }

        &:nth-child(4n+1) {
          @extend %primary_button_colors;
        }
  
        &:nth-child(4n+2) {      
          @extend %succes_button_colors;
        }
  
        &:nth-child(4n+3) {
          @extend %warning_button_colors;
        }
  
        &:nth-child(4n+4) {
          @extend %danger_button_colors;
        }
      }
    }
  }
}
