@import 'variables';
@import 'node_modules/bootstrap/scss/forms';

$theme: $main_theme;

.form-control {
  color: map_get($theme, 'grey-dark_6');
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  border-radius: map_get($theme, 'main-border-radius');
  padding: 16px 19px;

  &::placeholder {
    color: map_get($theme, 'grey-dark_3');
  }

  &_small {
    @extend .form-control;
    padding: 11px 15px;

    height: 40px;
    font-size: 16px;
    line-height: 18px;
  }

  &_large {
    @extend .form-control;
    padding: 18px 22px;

    height: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  &_info {
    @extend .form-control;
    border-color: rgba(45, 116, 255, 1);
  
    &::placeholder {
      color: map_get($theme, 'grey-dark_3');
    }
  
    &:focus,
    &.focus {
      border-color: rgba(45, 116, 255, 1);
    }
  }

  &_succes {
    @extend .form-control;
    border-color: rgba(1, 160, 1, 1);
  
    &::placeholder {
      color: map_get($theme, 'grey-dark_3');
    }
  
    &:focus,
    &.focus {
      border-color: rgba(1, 160, 1, 1);
      box-shadow: rgba(1, 160, 1, 0.25) 0px 0px 0px 0.2rem;
    }
  }

  &_warning {
    @extend .form-control;
    border-color: rgba(254, 183, 47, 1);
  
    &::placeholder {
      color: map_get($theme, 'grey-dark_3');
    }
  
    &:focus,
    &.focus {
      border-color: rgba(254, 183, 47, 1);
      box-shadow: rgba(254, 183, 47, 0.25) 0px 0px 0px 0.2rem;
    }
  }

  &_danger {
    @extend .form-control;
    border-color: rgba(250, 74, 106, 1);
  
    &::placeholder {
      color: map_get($theme, 'grey-dark_3');
    }
  
    &:focus,
    &.focus {
      border-color: rgba(250, 74, 106, 1);
      box-shadow: rgba(250, 74, 106, 0.25) 0px 0px 0px 0.2rem;
    }
  }
}
