@import 'variables';
@import 'mixins';
@import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/input-group';

$theme: $main_theme;

$info_button_normal_colorset : #fff, map_get($theme, 'info_input_border_color'), map_get($theme, 'info_input_border_color');
$info_button_hover_colorset : #fff, rgba(map_get($theme, 'info_input_border_color'), 0.7), rgba(0, 0, 0, 0);
$success_button_normal_colorset : #fff, map_get($theme, 'success_input_border_color'), map_get($theme, 'success_input_border_color');
$success_button_hover_colorset : #fff, rgba(map_get($theme, 'success_input_border_color'), 0.7), rgba(0, 0, 0, 0);
$warning_button_normal_colorset : #fff, map_get($theme, 'warning_input_border_color'), map_get($theme, 'warning_input_border_color');
$warning_button_hover_colorset : #fff, rgba(map_get($theme, 'warning_input_border_color'), 0.7), rgba(0, 0, 0, 0);
$danger_button_normal_colorset : #fff, map_get($theme, 'danger_input_border_color'), map_get($theme, 'danger_input_border_color');
$danger_button_hover_colorset : #fff, rgba(map_get($theme, 'danger_input_border_color'), 0.7), rgba(0, 0, 0, 0);

@mixin input_border_colors($color) {
  border-color: $color;

  & > * {
    border-color: $color;
  }

  .input-group-text {
    border-color: $color;
  }

  svg {
    fill: $color;
  }

  .form-control {
    border-color: $color;

    &:focus,
    &.focus {
      border-color: $color;
      box-shadow: rgba($color, 0.25) 0px 0px 0px 0.2rem;
    }
  }
}

@mixin text-size($fz) {
  .form-control {
    font-size: $fz;
  }

  .input-group-text {
    font-size: $fz;

    svg {
      width: $fz/1px+2#{'px'};
      height: $fz/1px+2#{'px'};
    }
  }

  .button {
    font-size: $fz;

    &_large,
    &_small {
      font-size: $fz;
    }
  }
}

.input {
  &-group {
    height: 50px;
    border-radius: map_get($theme, 'main-border-radius');

    @include text-size(18px);

    svg {
      fill: map_get($theme, 'grey-dark_3');

      path {
        fill: inherit;
        stroke: inherit;
      }
    }

    .form-control {
      height: 100%;
      color: map_get($theme, 'grey-dark_6');

      &::placeholder {
        color: map_get($theme, 'grey-dark_3');
      }
    }

    .button {
      height: 100%;
      border-radius: map_get($theme, 'main-border-radius');
      border-width: 1px;
      border-color: map_get($theme, 'grey-dark_3');
      border-style: solid;
      outline: none;
      padding: 0.375rem 0.75rem;

      &_large,
      &_small {
        height: 100%;
      }
    }

    .input-group-prepend {
      .button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .input-group-append {
      .button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .input-group-text {
      color: map_get($theme, 'grey-dark_3');
      background-color: map_get($theme, 'grey-dark_1');

      &_nobg {
        @extend .input-group-text;
        background-color: #fff;
      }
    }

    &_small {
      @extend .input-group;
      height: 40px;
      
      @include text-size(16px);
    }

    &_large  {
      @extend .input-group;
      height: 60px;
    
      @include text-size(20px);
    }

    %info_button_colors {
      @include button_colors($info_button_normal_colorset, $info_button_hover_colorset);
    }
    
    %success_button_colors {
      @include button_colors($success_button_normal_colorset, $success_button_hover_colorset);
    }
    
    %warning_button_colors {
      @include button_colors($warning_button_normal_colorset, $warning_button_hover_colorset);
    }
    
    %danger_button_colors {
      @include button_colors($danger_button_normal_colorset, $danger_button_hover_colorset);
    }

    &_info {
      @extend .input-group;
      @include input_border_colors(map_get($theme, 'info_input_border_color'));

      .button {
        @extend .button;  
        @extend %info_button_colors;
      }
    }

    &_success {
      @extend .input-group;
      @include input_border_colors(map_get($theme, 'success_input_border_color'));

      .button {
        @extend .button;  
        @extend %success_button_colors;
      }
    }

    &_warning {
      @extend .input-group;
      @include input_border_colors(map_get($theme, 'warning_input_border_color'));

      .button {
        @extend .button;  
        @extend %warning_button_colors;
      }
    }

    &_danger {
      @extend .input-group;
      @include input_border_colors(map_get($theme, 'danger_input_border_color'));

      .button {
        @extend .button;  
        @extend %danger_button_colors;
      }
    }

    &_noborder {
      @extend .input-group;

      .form-control {
        border-left-width: 0;
        border-right-width: 0;
      }

      .input-group-text {
        background: none;
      }

      & > * {
        border-left-width: 0;
        border-right-width: 0;

        &:first-child {
          border-left-width: 1px;

          & > * {
            border-right-width: 0;
          }
        }

        &:last-child {
          border-right-width: 1px;

          & > * {
            border-left-width: 0;
          }
        }
      }
    }

    &_lowborder {
      @extend .input-group_noborder;

      .input-group-prepend {
        position: relative;

        &::after {
          position: absolute;
          display: block;
          right: 1px;
          top: 50%;
          transform: translateY(-50%);
          content: '';
          width: 1px;
          height: calc(100% - 20px);
          background-color: map_get($theme, 'grey-dark_2');
          z-index: 10;
        }
      }

      .input-group-append {
        position: relative;

        &::after {
          position: absolute;
          display: block;
          left: 1px;
          top: 50%;
          transform: translateY(-50%);
          content: '';
          width: 1px;
          height: calc(100% - 20px);
          background-color: map_get($theme, 'grey-dark_2');
          z-index: 10;
        }
      }
    }
  }
}




