@import 'variables';
@import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/input-group';

$theme: $main_theme;

@mixin text-size($fz) {
  .form-control {
    font-size: $fz;
  }

  .input-group-text {
    font-size: $fz;

    svg {
      width: $fz;
      height: auto;
    }
  }

  .button {
    font-size: $fz;

    &_large,
    &_small {
      font-size: $fz;
    }
  }
}

.input {
  &-group {
    height: 50px;
    border-radius: 10px;

    @include text-size(18px);

    svg {
      path {
        fill: map_get($theme, 'grey-dark_3');
      }
    }

    .form-control {
      height: 100%;
      color: map_get($theme, 'grey-dark_6');

      &::placeholder {
        color: map_get($theme, 'grey-dark_3');
      }
    }

    .button {
      height: 100%;

      &_large,
      &_small {
        height: 100%;
      }
    }

    .input-group-text {
      color: map_get($theme, 'grey-dark_3');
      background-color: map_get($theme, 'grey-dark_1');

      &_nobg {
        @extend .input-group-text;
        background-color: #fff;
      }
    }

    &_small {
      height: 40px;
      
      @include text-size(16px);
    }

    &_large  {
      height: 60px;
    
      @include text-size(20px);
    }

    &_noborder {
      @extend .input-group;

      & > * {
        border-left-width: 0;
        border-right-width: 0;

        &:first-child {
          border-left-width: 1px;

          & > * {
            border-right-width: 0;
          }
        }

        &:last-child {
          border-right-width: 1px;

          & > * {
            border-left-width: 0;
          }
        }
      }
    }

    &_info {
      @extend .input-group;
      border-color: rgba(45, 116, 255, 1);
  
      & > * {
        border-color: rgba(45, 116, 255, 1);
      }

      .input-group-text {
        border-color: rgba(45, 116, 255, 1);
      }

      svg {
        path {
          fill: rgba(45, 116, 255, 1);
        }
      }
    }

    &_succes {
      @extend .input-group;
      border-color: rgba(1, 160, 1, 1);
  
      & > * {
        border-color: rgba(1, 160, 1, 1);
      }

      .input-group-text {
        border-color: rgba(1, 160, 1, 1);
      }

      svg {
        path {
          fill: rgba(1, 160, 1, 1);
        }
      }

      .form-control {
        &:focus,
        &.focus {
          border-color: rgba(1, 160, 1, 1);
          box-shadow: rgba(1, 160, 1, 0.25) 0px 0px 0px 0.2rem;
        }
      }
    }

    &_warning {
      @extend .input-group;
      border-color: rgba(254, 183, 47, 1);
  
      & > * {
        border-color: rgba(254, 183, 47, 1);
      }

      .input-group-text {
        border-color: rgba(254, 183, 47, 1);
      }

      svg {
        path {
          fill: rgba(254, 183, 47, 1);
        }
      }

      .form-control {
        &:focus,
        &.focus {
          border-color: rgba(254, 183, 47, 1);
          box-shadow: rgba(254, 183, 47, 0.25) 0px 0px 0px 0.2rem;
        }
      }
    }

    &_danger {
      @extend .input-group;
      border-color: rgba(250, 74, 106, 1);
  
      & > * {
        border-color: rgba(250, 74, 106, 1);
      }

      .input-group-text {
        border-color: rgba(250, 74, 106, 1);
      }

      svg {
        path {
          fill: rgba(250, 74, 106, 1);
        }
      }

      .form-control {
        &:focus,
        &.focus {
          border-color: rgba(250, 74, 106, 1);
          box-shadow: rgba(250, 74, 106, 0.25) 0px 0px 0px 0.2rem;
        }
      }
    }
  }
}




