@import 'variables';
@import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/input-group';

$theme: $main_theme;

@mixin text-size($fz) {
  .form-control {
    font-size: $fz;
  }

  .input-group-text {
    font-size: $fz;

    svg {
      width: $fz;
      height: auto;
    }
  }

  .button {
    font-size: $fz;

    &_large,
    &_small {
      font-size: $fz;
    }
  }
}

@mixin input-colors($txt_color, $backgorund_color: #fff) {
  color: $txt_color;
  background-color: $backgorund_color;

  svg {
    path {
      fill: $txt_color;
    }
  }
}

.input {
  &-group {
    height: 50px;
    border-radius: 10px;

    @include text-size(18px);

    .form-control {
      height: 100%;
      @include input-colors(map_get($theme, 'grey-dark_3'));
    }

    .button {
      height: 100%;

      &_large,
      &_small {
        height: 100%;
      }
    }

    &_noborder {
      @extend .input-group;

      & > * {
        border-left-width: 0;
        border-right-width: 0;

        &:first-child {
          border-left-width: 1px;

          & > * {
            border-right-width: 0;
          }
        }

        &:last-child {
          border-right-width: 1px;

          & > * {
            border-left-width: 0;
          }
        }
      }
    }

    .input-group-text {
      @include input-colors(map_get($theme, 'grey-dark_3'), map_get($theme, 'grey-dark_1'));

      &_nobg {
        @extend .input-group-text;
        background-color: #fff;
      }
    }

    &_small {
      height: 40px;
      
      @include text-size(16px);
    }

    &_large  {
      height: 60px;
    
      @include text-size(22px);
    }
  }
}

.form-control_succes {
  @extend .form-control;
  border-color: rgb(1, 160, 1);
  color: rgb(1, 160, 1);

  &::placeholder {
    color: rgb(1, 160, 1);
  }
}
