extends ../_blank/index.pug

block variables
  - var breadcrumbs_name = sp_dropdown_breadcrumbs
  - var title = 'Dropdown'

block append styles
  link(rel="stylesheet", href="../../stylesheets/dropdown.css")
  link(rel="stylesheet", href="../../stylesheets/button.css")

block append scripts
  script(src="../../javascripts/bootstrap.bundle.min.js")

block content
  .row
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_with-right-icon  
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_with-left-icon 
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_with-icon-both
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_with-checkbox
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_with-radio 
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_small 
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_large
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_small_with-left-icon
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_small_with-right-icon       
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_small_with-checkbox
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_small_with-radio
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_large_with-left-icon  
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_large_with-right-icon
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_large_with-checkbox
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_large_with-radio
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_with-primary-button
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_with-succes-button
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_with-warning-button 
    .col-12.col-md-6.col-lg-3.mb-4
      include dropdown_with-danger-button           
