html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Index
    link(rel="stylesheet", href="../../stylesheets/index.css")
    //- past style here
    script(src="../../javascripts/jquery.js")
  body
    .container
      .row.mt-5
