div(class='container')
  div(class='row')  
    div(class='col-12 col-md-6 col-lg-3 my-5')
      button(type=button class='button_small button_primary mb-3') Small button
      br
      button(type=button class='button_primary mb-3') Normal button
      br
      button(type=button class='button_large button_primary mb-3') Large button
    div(class='col-12 col-md-6 col-lg-3 my-5')  
      button(type='button' class='button_small button_outline mb-3') Small button
      br
      button(type='button' class='button_outline mb-3') Normal button
      br
      button(type='button' class='button_large button_outline mb-3') Large button
    div(class='col-12 col-md-6 col-lg-3 my-5')  
      button(type='button' class='button_small button_disabled mb-3') Small button
      br
      button(type='button' class='button_disabled mb-3') Normal button
      br
      button(type='button' class='button_large button_disabled mb-3') Large button
    div(class='col-12 col-md-6 col-lg-3 my-5')  
      button(type='button' class='button button_small button_primary mb-3 w-100') Small button
      br
      button(type='button' class='button button_primary mb-3 w-100') Normal button
      br
      button(type='button' class='button button_large button_primary mb-3 w-100') Large button
    div(class='col-12 col-md-6 col-lg-3 my-5')  
      include ../components/btn_with_icon 
