.container
  .row.mt-5 
    .col-12.mb-5
      h1 H1 &nbsp; Nothing is impossible, the word itself says, I’m possible!
    .col-12.mb-5  
      h2 H2 &nbsp; Your time is limited, so don’t waste it living someone else’s life
    .col-12.mb-5
      h3 H3 &nbsp; Daily Report: Removing Checks to the Power of the Internet Titans
    .col-12.mb-5
      h4 H4 &nbsp; Daily Report: Removing Checks to the Power of the Internet Titans
    .col-12.mb-5
      h5 H5 &nbsp; Daily Report: Removing Checks to the Power of the Internet Titans  
