button(type=button class='btn btn_small btn-primary mb-3') Small button
br
button(type=button class='btn btn-primary mb-3') Normal button
br
button(type=button class='btn btn_large btn-primary mb-3') Large button
