button(type='button' class='button button_small button_disabled mb-3') Small button
br
button(type='button' class='button button_disabled mb-3') Normal button
br
button(type='button' class='button button_large button_disabled mb-3') Large button
