button(type='button' class='btn btn_small btn_disabled mb-3') Small button
br
button(type='button' class='btn btn_disabled mb-3') Normal button
br
button(type='button' class='btn btn_large btn_disabled mb-3') Large button
