button(type='button' class='button button_small button_outline mb-3') Small button
br
button(type='button' class='button button_outline mb-3') Normal button
br
button(type='button' class='button button_large button_outline mb-3') Large button

