div.container
  div.row
    div(class='col-12 mb-3')
      div(class='input-group input-group_small mb-3')
          div(class='input-group-prepend')
            span(class='input-group-text') text 1
          input(class='form-control' type="text" name="text-1")
          div(class='input-group-append')
            span(class='input-group-text') text 2
    div(class='col-12 mb-3')
      div(class='input-group mb-3')
        div(class='input-group-prepend')
          span(class='input-group-text') text 1
        input(class='form-control' type="text" name="text-1")
        div(class='input-group-append')
          span(class='input-group-text') text 2
    div(class='col-12 mb-3')
      div(class='input-group input-group_large mb-3')
          div(class='input-group-prepend')
            span(class='input-group-text')
              include icon_lightning
          input(class='form-control' type="text" name="text-1")
          div(class='input-group-append')
            span(class='input-group-text_nobg')
              include icon_eye

