div(class='container')
  div(class='row')  
    div(class='col-12 col-md-6 col-lg-3 my-5 py-3')
      include btn
    div(class='col-12 col-md-6 col-lg-3 my-5 py-3')  
      include btn_outline
    div(class='col-12 col-md-6 col-lg-3 my-5 py-3')  
      include btn_disabled
    div(class='col-12 col-md-6 col-lg-3 my-5 py-3')  
      include btn_wide   
