html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Index
    link(rel="stylesheet", href="stylesheets/index.css")
    link(rel="stylesheet", href="stylesheets/button.css")
    link(rel="stylesheet", href="stylesheets/input-group.css")
    link(rel="stylesheet", href="stylesheets/form-control.css")
    link(rel="stylesheet", href="stylesheets/service-styles.css")
    script(src="javascripts/jquery.js")
  body
    include layouts/simple_buttons_container
    include layouts/combined_buttons_container
    include layouts/inputs_container
    include components/brand-colors-palette
    svg(width="24px", height="auto")
      use(xlink:href="components/svg-sprite.svg#Warning")
