<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Button
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    //- link(rel="stylesheet", href="stylesheets/btn_disabled.css")
    //- link(rel="stylesheet", href="stylesheets/btn_outline.css")
    link(rel="stylesheet", href="stylesheets/btn.css")
    link(rel="stylesheet", href="stylesheets/inputs.css")
  body
    //- include components/buttons
    include components/simple_buttons_container
    include components/combined_buttons_container
    include components/inputs_container
