html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Index
    link(rel="stylesheet", href="stylesheets/index.css")
    link(rel="stylesheet", href="stylesheets/button.css")
    link(rel="stylesheet", href="stylesheets/inputs.css")
    link(rel="stylesheet", href="stylesheets/service-styles.css")
  body
    include layouts/simple_buttons_container
    include layouts/combined_buttons_container
    include layouts/inputs_container
    include components/brand-colors-palette
