html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Index
    link(rel="stylesheet", href="../../stylesheets/index.css")
    link(rel="stylesheet", href="../../stylesheets/breadcrumbs.css")
    script(src="../../javascripts/jquery.js")
  body
    .container
      .row.mt-5.mb-4 
        include breadcrumbs.pug
      .row.mb-4 
        include breadcrumbs_with-icons.pug
      .row.mb-4
        include breadcrumbs_arrow.pug
      .row.mb-4
        include breadcrumbs_arrow_with-icon.pug      
