extends ../_blank/index.pug

block variables
  - var breadcrumbs_name = sp_pagination_breadcrumbs
  - var title = 'Pagination'

block append styles
  link(rel="stylesheet", href="../../stylesheets/pagination.css")

block content
  .row.mt-5.mb-4
    include pagination
  .row.mb-4
    include pagination_with-controls  
  .row.mb-4
    include pagination_controls
  .row.mb-4
    include pagination_short     
