extends ../_blank/index.pug

block variables
  - var breadcrumbs_name = null
  - var title = null

block append styles
  link(rel="stylesheet", href="../../stylesheets/")

block append scripts

block append breadcrumbs

block content
  .row
    .col-12.mb-4



