html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Index
    link(rel="stylesheet", href="../../stylesheets/index.css")
    link(rel="stylesheet", href="../../stylesheets/button.css")
    script(src="../../javascripts/jquery.js")
  body
    .container
      .row.mt-5
        .col-12.d-flex.align-items-center.mb-3
          include button
          .ml-3
          include button_small
          .ml-3
          include button_large
          .ml-3
        .col-12.d-flex.align-items-center.mb-3
          include button_outline
          .ml-3
          include button_disabled
          .ml-3
          include button_danger
          .ml-3
          include button_succes
          .ml-3
          include button_warning
        .col-12.d-flex.align-items-center
          include combined_button
        .col-6
          p
            span#multiple
        .col-6
          p
            span#select       
