html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Index
    link(rel="stylesheet", href="../../stylesheets/index.css")
    link(rel="stylesheet", href="../../stylesheets/breadcrumbs.css")

    link(rel="stylesheet", href="../../stylesheets/input-group.css")
    script(src="../../javascripts/jquery.min.js")
  body
    .container
      .row.my-5
        .col-12.mb-5
          ul.breadcrumbs
            each breadcrumb in sp_input_group_breadcrumbs
              - var link = breadcrumb.link 
              - var name = breadcrumb.name 
              - var active = breadcrumb.active 
              - var icon = breadcrumb.icon 
              include ../breadcrumbs/breadcrumbs__item
        .col-12.mb-4
          include input-group
        .col-12.mb-4
          include input-group_small
        .col-12.mb-4
          include input-group_large      
        .col-12.col-md-6.mb-4
          include input-group_with-prepend
        .col-12.col-md-6.mb-4
          include input-group_with-append
        col-12.col-md-6.mb-4
          include input-group_with-button
        col-12.col-md-6.mb-4
          include input-group_with-button_append
        col-12.col-md-6.mb-4
          include input-group_noborder
        col-12.col-md-6.mb-4
          include input-group_lowborder
        .col-12.col-md-6.mb-4
          include input-group_info
        .col-12.col-md-6.mb-4
          include input-group_info_noborder
        .col-12.col-md-6.mb-4
          include input-group_success  
        .col-12.col-md-6.mb-4
          include input-group_success_noborder
        .col-12.col-md-6.mb-4
          include input-group_warning  
        .col-12.col-md-6.mb-4
          include input-group_warning_noborder
        .col-12.col-md-6.mb-4
          include input-group_danger  
        .col-12.col-md-6.mb-4
          include input-group_danger_noborder
        .col-12.col-md-6.mb-4
          include input-group_info_with-button 
        .col-12.col-md-6.mb-4
          include input-group_succes_with-button-append
        .col12.col-md-6.mb-4
          include input-group_warning_with-button
        .col12.col-md-6.mb-4
          include input-group_danger_with-button-append  
