div(class='input-group_warning')
  div(class='input-group-prepend')
    span(class='input-group-text') 
      svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Alert")
  input(class='form-control' type='text' name='text-1' placeholder='Input group')
