div(class='input-group_noborder')
  input(class='form-control' type='number' name='text-1' placeholder='Input group with append')
  //- div(class='input-group-append')
  //-   span(class='input-group-text')
      //- svg
      //-   use(xlink:href="../../assets/svg/dropdown-sprite/dropdown-sprite.svg#Down")
      //- svg
      //-   use(xlink:href="../../assets/svg/dropdown-sprite/dropdown-sprite.svg#Up")
      //- svg
      //-   use(xlink:href="../../assets/svg/dropdown-sprite/dropdown-sprite.svg#Right")
      //- svg
      //-   use(xlink:href="../../assets/svg/dropdown-sprite/dropdown-sprite.svg#Up-1")  

