div(class='input-group input-group_lowborder input-group_card')
  div(class='input-group-prepend')
    span(class='input-group-text')  
     svg
        use(xlink:href="../../assets/svg/base-sprite/base-sprite.svg#Card")
  input(class='form-control input-group_card__crd' type='text' name='text-1' placeholder='0000 0000 0000 0000')
  input(class='form-control input-group_card__exp input-group__input-small' type='text' name='text-1' placeholder='12/12')
  input(class='form-control input-group_card__cvv input-group__input-small' type='text' name='text-1' placeholder='CCV')
