if active
  li.active
    if icon
      svg 
          use(xlink:href= icon)
      a(href= link)
        span= name
      if i_index < length - 1  
        svg
          use(xlink:href="../../assets/svg/navigation-sprite/navigation-sprite.svg#chevron small right")
    else
      a(href= link)
        span= name
      if i_index < length - 1  
        svg
          use(xlink:href="../../assets/svg/navigation-sprite/navigation-sprite.svg#chevron small right")       
else 
  li 
    if icon
      svg 
          use(xlink:href= icon)
      a(href= link)
        span= name
      if i_index < length - 1  
        svg
          use(xlink:href="../../assets/svg/navigation-sprite/navigation-sprite.svg#chevron small right")
    else
      a(href= link)
        span= name
      if i_index < length - 1  
        svg
          use(xlink:href="../../assets/svg/navigation-sprite/navigation-sprite.svg#chevron small right") 
